.App {
  text-align: center;
}
h1 {
  color: green;
}

body {
  text-align: center;
  margin: auto;
}

/* create new blog form */
.RegistrationForm {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.RegistrationForm label {
  text-align: left;
  display: block;
}
.RegistrationForm h2 {
  font-size: 20px;
  color: #12822b;
  margin-bottom: 30px;
}
.RegistrationForm input, .RegistrationForm textarea, .RegistrationForm select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.RegistrationForm button {
  background: #12822b;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}